*~
*.bak
*.o
*.core
*.hi
/.cpanplus/*
!.cpanplus/lib/
/.cpanplus/lib/*
!.cpanplus/lib/CPANPLUS/
/.cpanplus/lib/CPANPLUS/*
!.cpanplus/lib/CPANPLUS/Config/
/.cpanplus/lib/CPANPLUS/Config/*
!.cpanplus/lib/CPANPLUS/Config/User.pm
/.mplayer/font
/.mplayer/subfont.ttf
xmonad-x86_64-freebsd
/.xmonad/history
*.errors
/*
!.gitignore
!.xsession
!.shrc
!.shrc*[^~]
!.profile*[^~]
!.Xdefaults
!.cshrc
!.gtkrc-2.0
!.login
!.login_conf
!.tmux.conf
!.tpbrc
!.zshprompt
!.zshrc
!.zshrc.zni
!.cpanplus/
!.inkscape/
!.my_kbd/
!.re.pl/
!.sqemu/
!.xmonad/
!.mplayer/
!.multricks.setup

